.App {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 0.5rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

input {
    padding: 4px;
    margin-bottom: 1em;
    width: 400px;
}